@media screen and (min-width: 992px) {

  body {
    font: 14px/1.8em 'Domine', serif;
  }

  .section {
    padding: 80px 0;
  }

  .industry-section {

    #slider-top {
      .slide {
        height: 581px;
      }
    }

    .industry-block {
      width: 460px;
    }
  }

  .about-us-section {
    .bage-section {
      position: absolute;
      top: 60%;

      .wrapper {
        padding: 0 30px 30px;
      }
    }
  }

  .projects-section {

    li {
      margin-bottom: 30px;
    }

    .hover-block {
      .flex-block {
        padding: 50px 20px;
      }

      h2 {
        margin-bottom: 10px;
        font-size: 1.2em;
      }
    }
  }


  .clients-section {
    .slider-preview {
      .photo-wrapper {
        margin-right: 15px;
      }
    }
  }

  .blog-section {
    header {
      .mini-nav {
        position: absolute;
        top: 1.5em;
        right: 0;
        margin: 0;

        button {
          margin-right: 10px;
        }
      }
    }

    &:after {
      background-position: 0 0;
    }
  }

  .contacts-section {
    .group-block {
      height: 128px;
      padding: 40px 30px;

      img {
        float: left;
        margin-right: 10px;
      }
    }
  }

}
