@media screen and (min-width: 768px) {
  body {
      font: 13px/1.8em 'Domine', serif;
  }

  .section-header {
    margin-bottom: 30px;
    text-align: left;
  }

  .section {
    padding: 60px 0;
  }

  #header {
    .main-nav {
      > li {
        margin-left: 0;
      }
    }
  }

  .industry-section {

    #slider-top {
      .slide {
        height: 572px;
      }
    }

    .industry-block {
      top: 100px;
      width: 380px;
      margin: 0 0 0 15px;

      header {
        padding: 20px;
        text-align: left;
      }

      ul {
        flex-direction: row;
        flex-wrap: wrap;

        li {
          margin: 0;
        }
      }

      .industry-link {
        padding: 30px;

        img {
          float: none;
          margin-right: 0;
        }
      }
    }
  }

  .about-us-section {

    .section-header{
      text-align: right
    }

    .text-wrapper {
      text-align: right;
      margin-bottom: 0;

      .last-p {
        margin-bottom: 40px;
      }
    }

    .bage-section {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 0;

      .wrapper {
        padding: 0 30px 15px;
      }
    }
  }

  .steps-section {

    li {
      margin-bottom: 0;
      text-align: left;
    }

    img {
      margin-bottom: 30px;
    }

    h2 {
      margin-bottom: 30px;
    }
  }

    .projects-section {

    li {
      margin-bottom: 23px;
    }

    .hover-block {
      .flex-block {
        padding: 10px;
      }

      h2 {
        margin-bottom: 10px;
        font-size: 1em;
      }
    }
  }

  .clients-section {
    .flexslider {
      .slide {
        blockquote {
          padding: 20px 100px 0;
          margin-bottom: 50px;

          &:before,
          &:after {
            top: 20px;
            width: 68px;
            height: 48px;
          }
        }
        span {
          margin-top: 30px;
        }
      }
    }

    .slider-preview {
      flex-direction: row;
      width: 80%;
      .photo-wrapper {
        margin-right: 15px;
        width: 66px;
        height: 66px;
      }
    }
  }

  .blog-section {
    padding-bottom: 40px;

    &:after {
       position: absolute;
       top: 0;
       bottom: 0;
       left: 50%;
       right: 0;
       height: 100%;
       margin-top: 0;
       background-position: -100px 0;
     }

    .posts {
      li {
        margin-bottom: 60px;
      }
    }
  }

  .contacts-section {
    .group-block {
      margin-bottom: 0;
      text-align: left;
    }
  }

  #footer {
    padding-bottom: 50px;

    h2 {
      margin-bottom: 30px;
    }

    #mc-embedded-subscribe-form {
      margin: 40px 0 0;
    }

    ul {
      margin-bottom: 0;
    }

    .copyright {
      margin-top: 60px;
    }
  }
}