
//-----------------------INDUSTRY-SECTION-----------------
//---------------------------------------------------------
.industry-section {

  #slider-top {

    .slide {
      height: 480px;
      background: url("../../img/slide-img-1.jpg") 50% 50% no-repeat;
      background-size: cover;
    }
  }

  .industry-block {
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    width: 230px;
    margin: 0 30px;
    font-family: $second-font;
    color: #ffffff;
    background-color: $accent-color;

    header {
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
      background-color: $title-color;

      p{
        font-size: 0.9em;
      }

      h1 {
        font: 2em 'Lato', sans-serif;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
    }

    li {
      padding: 0;
      border: 1px solid #00a6d3;
    }

    .industry-link {
      display: block;
      height: 100%;
      padding: 10px;
      color: inherit;

      &.last {
        display: inline-flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      img {
        display: block;
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
      }

      .fa-angle-right {
        display: inline-block;
        float: right;
        padding: 0 0.5em;
        font-size: 1.2em;
        line-height: 1.2em;
        border: 2px solid #ffffff;
        border-radius: 50%;
        opacity: 0.5;
      }

      &:hover {
        background-color: #00a6d3;
        text-decoration: none;

        .fa-angle-right {
          opacity: 1;
        }
      }
    }
  }
}

//-----------------------ABOUT-US-SECTION-----------------
//---------------------------------------------------------
.about-us-section {

  .text-wrapper {
    text-align: center;
    margin-bottom: 20px;

    .last-p {
      margin-bottom: 20px;
    }
  }

  .img-wrapper {
    position: relative;
    text-align: center;
  }

  .bage-section {
    position: relative;
    z-index: 3;
    margin-top: -80px;
  }
}


//-----------------------STEPS-SECTION-----------------
//---------------------------------------------------------
.steps-section {
  background-color: #e7eff1;

  li {
    margin-bottom: 20px;
    padding-right: 15px;
    text-align: center;
  }

  img {
    margin-bottom: 10px;
  }

  .number-steps {
    margin-bottom: 15px;
    font: 1.4em $second-font;
    color: $second-color;
  }

  h2 {
    margin-bottom: 10px;
    font: bold 1.2em $second-font;
    color: #343a3b;
    text-transform: uppercase;
  }
}

//-----------------------PROJECTS-SECTION-----------------
//---------------------------------------------------------
.projects-section {
  text-align: center;

  li {
    margin-bottom: 10px;
  }

  .project {
    position: relative;

    &:hover {
      .hover-block {
        display: block;
      }

      .triangle {
        border-bottom-color: #f6a149;
        border-left-color: #f6a149;
      }
    }

    .triangle {
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 0;
      color: #ffffff;
      border: 28px solid transparent;
      border-bottom-color: $accent-color;
      border-left-color: $accent-color;

      .fa-plus {
        position: absolute;
        bottom: -20px;
        left: -20px;
        font-size: 20px;
      }
    }
  }

  .title-project {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    display: inline-block;
    padding: 0 2em;
    font: 0.8em/2.2em $second-font;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid $title-color;
    border-radius: 20px;
  }

  .hover-block {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    color: #ffffff;
    background-color: $title-color;

    .flex-block {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 10px;
    }

    h2 {
      margin-bottom: 5px;
      font: bold 0.9em $second-font;
      text-transform: uppercase;
    }

    a {
      color: inherit;

      &:hover {
        color: #e7e7e7;
      }
    }

  }
}

//-----------------------CLIENTS-SECTION-----------------
//---------------------------------------------------------
.clients-section {
  background-color: $accent-color;
  color: #ddf8ff;;

  .section-header {
    p {
      color: #a6ecff;
    }
    h1 {
      color: #ffffff;
    }
  }

  .flexslider {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin: 0;

    .slide {
      blockquote {
        position: relative;
        padding: 10px 45px 0;
        margin-bottom: 20px;

        &:before,
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 10px;
          width: 34px;
          height: 24px;
          background: url(../../img/icon-quote.png) no-repeat;
          background-size: cover;
        }

        &:before {
          left: 0;
        }

        &:after {
          right: 0;
          transform: scaleX(-1);
        }
      }

      span {
        display: block;
        margin-top: 10px;
        width: 17px;
        border-bottom: 2px solid #ffffff;
      }
    }
  }

  .slider-preview {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin: 0;

    li {
      position: static;
      display: inline-flex;
      width: auto;
      height: auto;
      justify-content: center;
      align-items: center;
      text-indent: 0;
      border: none;
      border-radius: 0;
    }

    .photo-wrapper {
      margin-right: 5px;
      width: 40px;
      height: 40px;
      overflow: hidden;
      text-align: center;
      border-radius: 50%;
      opacity: 0.5;
    }

    h2 {
      font: bold 1em $second-font;
      text-transform: uppercase;
      color: #ffffff;
    }

    .flex-active {
      background: none;

      .photo-wrapper {
        opacity: 1;
      }
    }
  }

  .slider-nav-bottom {
    left: auto;
    right: 0;
    display: inline-block;
    width: auto;
    margin: 0;

    li {
      position: relative;
      width: 15px;
      height: 15px;
      border: 2px solid #ffffff;

      &:hover,
      &.active {
        border-color: $second-color;
        background-color: transparent;

        &:after {
          content: "";
          position: absolute;
          top: 4px;
          left: 4px;
          width: 3px;
          height: 3px;
          background-color: $second-color;
          border-radius: 50%;
        }
      }
    }
  }
}

//-----------------------BLOG-SECTION-----------------
//---------------------------------------------------------
.blog-section {
  position: relative;
  background-color: #e7eff1;
  padding-bottom: 0;

  &:after {
    content:"";
    display: block;
    margin-top: 20px;
    height: 400px;
    background: url(../../img/man-on-cliff.jpg) 0 0 no-repeat;
    background-size: auto 100%;
  }

  header {

    h1 {
      position: relative;
    }

    .mini-nav {
      margin-top: 20px;

      button {
        display: inline-block;
        width: 12em;
        margin-right: 20px;
        text-align: center;
        font-size: 0.8em;
        text-transform: uppercase;
        background-color: transparent;
        border: 2px solid #989fa0;
        border-radius: 20px;

        &.active {
          border-color: $title-color;
        }

        &:hover {
          color: $title-color;
        }
      }
    }
  }

  .posts {
    li {
      margin-bottom: 20px;

      &.last {
        margin-bottom: 0;
      }
    }

    data {
      color: #343a3b;

      span.color {
        color: $second-color;
      }
    }

    h2 {
      margin-bottom: 20px;
      color: #343a3b;
      font: bold 1.2em $second-font;
      text-transform: uppercase;
    }

    a {
      color: inherit;

      &:hover {
        color: $second-color;
      }
    }
  }
}

//-----------------------CONTACTS-SECTION-----------------
//---------------------------------------------------------
.contacts-section {
  .group-block {
    display: block;
    height: 128px;
    margin-bottom: 20px;
    padding: 10px 20px;
    color: #343a3b;
    text-align: center;
    border: 1px solid #e1eaec;

    img {
      float: none;
    }

    dt {
      font: bold 1.2em $second-font;
      text-transform: uppercase;
    }

    dd {
      font-size: 1.2em;
    }

    &:hover {
      transform: scale(1.1, 1.1);
      text-decoration: none;
      background-color: #e7eff1;
    }
  }
}