//------------------------PRIMARY-CONTENT------------------------
//---------------------------------------------------------
.primary-content {
  margin-bottom: 25px;

  .wrapper-title-img {
    position: relative;
    margin-bottom: 25px;

    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    .group-block {
      position: absolute;
      left:0;
      bottom: 0;
      color: #ffffff;
      text-transform: uppercase;
    }

    data {
      display: inline-block;
      padding: 0 5px;
      font: 0.8em/2em $second-font;
      background-color: $title-color;
    }

    h2 {
      padding: 0 5px;
      font: bold 0.8em/2em $second-font;
      background-color: #000000;
    }
  }

  iframe {
    width: 100%;
    height: 100px;
  }

  .quote {
    padding: 25px 50px;
    color: #ffffff;
    background-color: $accent-color;

    &:before, &:after {
      content: "“";
      font: 6.5em/0.5em $second-font;
      position: absolute;
    }

    &:before {
      top: 30px;
      left: 20px;
    }

    &:after {
      bottom: -5px;
      right: 20px;
      transform: scaleX(-1);
    }
  }

  p.text {
    margin-bottom: 25px;
  }

  .bottom-block {
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 25px;
    }

    p {
      margin: 0 0 25px 0;
    }
  }

  .text-list {
    margin-bottom: 25px;
    margin-left: 30px;
  }

  .top-info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;

    .button-link {
      line-height: 3.4em;
    }

    .share-block {
      font: 8.5em $second-color;
      text-transform: uppercase;
      color: #222222;

      .only-fa {
        font-size: 1.2em;
        padding: 0 0.8em;
        line-height: 2.4em;
        color: #838b8c;
        border: 1px solid #d2dbdd;
        border-radius: 50%;

        &:hover {
          transform: scale(1.2, 1.2);
          color: $title-color;
          text-decoration: none;
        }
      }

      data {
        &:after {
          content: "|";
          margin: 0 8px;
          color: #d2dbdd;
        }
      }
    }

  }
}

.share-block {
  position: relative;
  margin-bottom: 45px;
  text-align: right;

  ul {
    display: inline-block;
    padding: 0 40px 0 20px;
    border: 1px solid #d2dbdd;
    border-radius: 30px;
  }

  li {
    display: inline-block;

    .fa {
      font-size: 1.2em;
      padding: 0 10px;
      line-height: 2.4em;
      color: #838b8c;

      &:hover {
        transform: scale(1.2, 1.2);
        color: $title-color;
        text-decoration: none;
      }
    }

    .last-fa {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0 0.8em;
      color: #ffffff;
      background-color: $title-color;
      border-radius: 50%;

      &:hover {
        color: #838b8c;
      }
    }
  }
}

.control-pages {
  font: 0.9em $second-font;
  text-transform: uppercase;
  margin-bottom: 40px;

  li{
    display: inline-block;
  }

  a {
    color: #222222;

    &:before, &:after {
      display: inline-block;
      font: 1em/1.5em FontAwesome;
      color: #ffffff;
      border-radius: 50%;
    }

    &:hover {
      text-decoration: none;
      color: $second-color;

      &:before, &:after {
        transform: scale(1.2, 1.2);
      }
    }
  }

  .btn-next {
    padding-right: 15px;
    border-right: 1px solid  #d2dbdd;

    &:before {
      content: "\f0d9";
      margin-right: 5px;
      padding: 0 0.7em 0 0.5em;
      background-color: $second-color;
    }
  }

  .btn-prev {
    padding-left: 14px;

    &:after {
      content: "\f0da";
      margin-left: 5px;
      padding: 0 0.5em 0 0.7em;
      background-color: $title-color;
    }
  }
}

//---------------------------RELATED-SECTION------------------------
//------------------------------------------------------------------
.related-section {
  padding-top: 20px;

  li {
    margin-bottom: 20px;
  }

  h2 {
    font: bold 1.2em $second-font;
    color: #343a3b;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  a {
    display: block;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      transition: all 0.8s ease-out;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}


//---------------------------COMMENT-SECTION------------------------
//------------------------------------------------------------------
.comment-section {
  li {
    margin-bottom:25px;

    > ul {
      > li {
        margin: 25px 0 0 60px;
      }
    }
  }

  .photo-wrapper {
    float: left;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .text-comment {

    p {
      overflow: hidden;
    }

    .info-comment {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
      font: 0.9em/2em $second-font;
      text-transform: uppercase;

      .autor {
        color: #343a3b;
      }

      .reply {
        padding: 0 2em;
        font-size: 1em;
        line-height: 2em;
      }
    }
  }
}

//---------------------------MESSAGE-SECTION------------------------
//------------------------------------------------------------------

.message-section {
  background-color: #e7eff1;

  .message{
    input, textarea {
      width: 100%;
      margin-bottom: 15px;
      font: 0.8em/2em $second-font;
      color: #343a3b;
      text-transform: uppercase;
      border: none;
      border-bottom: 1px solid #cddbde;
      background-color: transparent;
    }

    input[placeholder],
    textarea[placeholder]  {
      color: #343a3b;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #343a3b;
    }

    input::-moz-placeholder,
    textarea::-moz-placeholder {
      color: #343a3b;
    }

    input:-moz-placeholder,
    textarea:-moz-placeholder {
      color: #343a3b;
    }

    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
      color: #343a3b;
    }
  }
}