@media screen and (min-width: 1200px) {

  body {
    font: 15px/1.8em 'Domine', serif;
  }

  .section {
    padding: 90px 0;
  }

  main, aside {
    margin-top: 90px;
  }

  //-----------------------BANNER-SECTION------------------
  //---------------------------------------------------------
  .banner-section {
    background: #e7eff0 url(../../img/bg-banner.png) right 50% no-repeat;
  }

  //-----------------------INDUSTRY-SECTION-----------------
  //---------------------------------------------------------
  .industry-section {

    #slider-top {
      .slide {
        height: 592px;
      }
    }
  }

  //-----------------------CONTACTS-SECTION-----------------
  //---------------------------------------------------------
  .contacts-section {
    .group-block {
      img {
        margin-right: 40px;
      }
    }
  }

  //-----------------------FOOTER--------------------------
  //---------------------------------------------------------
  #footer {
    .copyright {
      margin-top: 90px;

    }
  }

  //---------------------------RELATED-SECTION------------------------
  //------------------------------------------------------------------
  .related-section {
    padding-top: 35px;
  }
}